.md-grid {
  max-width: initial;
}

/*
li {
  color: black;
}
*/
 
span {
  color: black;
}

[data-md-color-scheme="bad-value"] {
  --md-typeset-color:                rgb(0, 0, 0);
  --md-typeset-a-color:              rgb(0, 0, 0);
  --md-typeset-kbd-color:            rgb(0, 0, 0);
  --md-typeset-kbd-accent-color:     rgb(0, 0, 0);
  --md-typeset-kbd-border-color:     rgb(0, 0, 0);
}